@import "loader";
@import "action-bar";
@import "details";
@import "edit-modal";
@import "team-points";
@import "user-list";
@import "home";

a {
  color: inherit;
  text-decoration: inherit;
  display: contents;
}

#top {
  margin-top: 74px;
}
